{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is Taha and I'm a Turkish person. I came into the world on August 13, 2000, at 5:30 in the morning.
          However, the specifics of when my life will come to an end remain
          unknown. While I have insights into certain aspects of the time that
          spans from my birth to an eventual demise, I anticipate discovering more
          about this period as time unfolds.
        </p>
        <p>
          During the initial phase of my life, I was an outspoken individual, often laughing freely and expressing my thoughts without reservation. However, as time passed, I transformed into an introverted person, given to contemplation. Presently, my smiles convey the disposition of a cheerful pessimist.
        </p>
        <p>
          Recently, I've been feeling a longing for my previous straightforwardness. I desire to openly share the outcomes of my continuous contemplation, unveiling aspects of my thoughts without reservation. My intention is that through sharing my readings, ideas, emotions, and more, I can evolve into a cheerful yet mature, optimistic yet realistic individual. This website, aptly named "Outspoken Taha" serves as a platform for this purpose.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
